<!DOCTYPE html>
<html>
  <head>
    <title>RailsCampaignManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'frontend', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'frontend', 'data-turbo-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" crossorigin="anonymous">
  </head>

  <body class="app-shell">
    <nav class="navbar navbar-expand-lg app-navbar">
      <div class="container">
        <%= link_to "Campaign Manager", root_url, class: "navbar-brand app-brand text-white" %>
        <div class="ms-auto">
          <ul class="navbar-nav app-nav-list align-items-lg-center gap-lg-2">
            <li class="nav-item"><%= link_to "Home", root_url, class: "nav-link" %></li>
            <% if sess_loggedin? %>
              <% @user ||= User.find_by(id: session[:user_id]) %>
              <li class="nav-item"><%= link_to "Campaigns", user_campaigns_path(@user), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Banners", user_banners_path(@user), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Profile", user_path(@user), class: "nav-link" %></li>
              <li class="nav-item ms-lg-2"><%= link_to "Logout", logout_path, class: "btn btn-outline-light btn-sm px-3", data: { turbo_method: :delete } %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign Up", newuser_path, class: "nav-link" %></li>
              <li class="nav-item ms-lg-2"><%= link_to "Login", login_path, class: "btn btn-light btn-sm px-3" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container app-main">
      <% flash.each do |flash_type, flash_msg| %>
        <% bootstrap_class = case flash_type.to_sym
           when :success then "success"
           when :danger then "danger"
           when :alert then "warning"
           when :notice then "info"
           else "secondary"
           end %>
        <div class="alert alert-<%= bootstrap_class %> app-flash" role="alert"><%= flash_msg %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
